@import "@/styles/variables.module.scss";
.layout_container {
  // 左侧菜单栏 默认打开状态
  .layout_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    transition: width 0.28s; // 展开收起过度
    // transition: all 0.28s; // 展开收起过度
    width: $sideBarWidth !important; // 菜单栏默认宽度
    background-color: $menuBg; // 根菜单栏背景颜色
    height: 100%;
    font-size: 0px;
    overflow: hidden;

    // 菜单栏滚动条
    .el-scrollbar {
      height: 100%;
      // 主体
      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }

      // // 水平隐藏
      // .is-horizontal {
      //   display: none;
      // }
      // 垂直方向滚动条
      .el-scrollbar__bar.is-vertical {
        right: 0px; // 清除默认右侧定位
      }
    }
    // logo显示后，给logo腾出高度
    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    // 菜单栏自带的默认样式 清除
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover 鼠标移入根菜单的背景
    /*submenu-title-noDropdown : 单个子路由的转化根路由，添加的自定义class
    el-submenu__title ： 两个及以上子路由的根路由element自带的class
     */
    .submenu-title-noDropdown,
    .el-sub-menu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    // 选中子菜单，根菜单的字体颜色
    .is-active > .el-sub-menu__title {
      color: $subMenuActiveText !important;
    }

    // .nest-menu .el-sub-menu>.el-sub-menu__title ： 有嵌套路由的子菜单
    // .el-sub-menu .el-menu-item : 没有嵌套路由的子菜单
    & .nest-menu .el-sub-menu > .el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      min-width: $sideBarWidth !important; // 默认宽度
      background-color: $subMenuBg !important; // 子菜单背景颜色

      &:hover {
        // 移入的子菜单背景颜色
        background-color: $subMenuHover !important;
      }
    }
  }

  /* 半收起菜单 */
  &.hideSidebar {
    .layout_menu {
      width: 65px !important; // 收起的菜单宽度
    }

    // 收起菜单，右侧视图区域的left值
    .layout_main {
      margin-left: 65px;
      // 半收起侧边栏，header导航栏宽度
      .header_container.fixed-header {
        width: calc(100% - 65px);
      }
    }
  }

  /* mobile 移动响应 */
  &.mobile {
    // 移动端，侧边栏宽度
    .layout_menu {
      transition: transform 0.28s;
    }
    &.hideSidebar {
      //移动端 并且 侧边栏也收起状态
      // 就隐藏菜单栏
      .layout_menu {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }

    // 移动端情况下，右侧视图区域外边距为0，占据全屏
    .layout_main {
      margin-left: 0px;
      //  移动端，导航栏百分百宽
      .header_container.fixed-header {
        width: 100%;
      }
    }
  }

  /* 移动端切换到 侧边栏半展开状态 时的动画关闭 */
  &.withoutAnimation {
    .layout_main,
    .layout_menu {
      transition: none;
    }
  }
}

/* 半收起状态-- 子项的样式*/
.el-menu--vertical {
  // 鼠标移入子菜单背景
  .nest-menu .el-sub-menu > .el-sub-menu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // 当子菜单过长时，滚动条会出现
  > .el-menu--popup {
    max-height: 100vh; // 最高就是窗口的高度
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      // 滚动条背景颜色
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      // 滚动条宽度
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      // 滚动条块颜色
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
