// global transition css

/* fade
切换显隐
*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform 页面过度动画
左进右出
*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}
// 页面开始进入的状态
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
// 页面离开之后的状态
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition 面包屑过度动画 */
// 进入过程 和 离开过程
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

// 刚进入之前  和  离开过程(之后)
.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

// 进入的会把离开的瞬间挤开
// 挤开的过程要加个过度
.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
